<nav>
    <div class="site-title">
        <a href="/"><h1>ArtiZen</h1></a>
        <p>Create Your Innovation</p>
    </div>
    <u1>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </u1>
</nav>