<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>


    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Commodi vitae facere dolore consectetur modi inventore vel veritatis explicabo eius, quidem quibusdam porro.
            Et consectetur porro obcaecati dolores voluptatibus, at laborum!
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Commodi vitae facere dolore consectetur modi inventore vel veritatis explicabo eius, quidem quibusdam porro.
            Et consectetur porro obcaecati dolores voluptatibus, at laborum!
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Commodi vitae facere dolore consectetur modi inventore vel veritatis explicabo eius, quidem quibusdam porro.
            Et consectetur porro obcaecati dolores voluptatibus, at laborum!
        </p>
    </div>



    <%- include('./partials/footer.ejs') %>

</body>
</html>